@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Unbounded", sans-serif;
}

body, html {
  font-size: 0.0520833333vw;
}

.container {
  width: 1636rem;
  margin: 0 auto;
}

.galss-block {
  -webkit-backdrop-filter: blur(48rem);
          backdrop-filter: blur(48rem);
  box-shadow: inset 0 0 68rem 0 rgba(255, 255, 255, 0.05), inset 0 4rem 4rem 0 rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24rem;
}

.header {
  padding-top: 40rem;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 64rem;
  height: 63rem;
  position: relative;
}
.header .logo img {
  width: 100%;
  height: 100%;
}
.header .langs {
  display: flex;
  align-items: center;
  gap: 27rem;
}
.header .langs__item {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #203f30;
}
.header .header-nav {
  display: flex;
  align-items: center;
  gap: 35rem;
}
.header .header-nav__item {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18rem;
  color: #203f30;
  position: relative;
}
.header .header-nav__item::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 0;
  height: 1rem;
  background: #203f30;
  transition: all 0.4s ease;
  position: absolute;
  margin-top: 3rem;
}
.header .header-nav__item:hover::after {
  max-width: 100%;
}
.header .header-nav__item.active::after {
  max-width: 100%;
}
.header .header-login {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #203f30;
  padding: 18rem 32rem;
  border: 1rem solid #203f30;
  border-radius: 30rem;
}

.hero {
  margin-top: 45rem;
  height: 845rem;
}
.hero .container {
  height: 100%;
  background: url(../media/bgs/hero.png) 50% 50%/100% 100% no-repeat;
  position: relative;
  padding: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero h1 {
  font-weight: 400;
  font-size: 40rem;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60rem;
  right: 60rem;
  max-width: 630rem;
  z-index: 2;
}
.hero .galss-block {
  padding: 50rem;
  z-index: 2;
  position: relative;
}
.hero .galss-block:nth-child(2) {
  max-width: 600rem;
}
.hero .galss-block:nth-child(3) {
  max-width: 750rem;
}
.hero h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #fff;
}
.hero h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #fff;
}
.hero .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section-heading {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 48rem;
  text-transform: uppercase;
}

.green-button {
  border-radius: 30rem;
  padding: 18rem 51rem;
  background: #203f30;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #fff;
}

.kratko {
  margin-top: 120rem;
}
.kratko .container {
  display: flex;
  gap: 250rem;
  justify-content: space-between;
}
.kratko .section-heading {
  color: #203f30;
  max-width: 610rem;
}
.kratko .kratko-img {
  margin-top: 120rem;
  width: 600rem;
}
.kratko .kratko-r {
  max-width: 660rem;
}
.kratko .kratko-r p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #203f30;
}
.kratko .kratko-r p:first-child {
  position: relative;
  margin-bottom: 55rem;
}
.kratko .kratko-r p:first-child::after {
  margin-top: 55rem;
  content: "";
  display: block;
  height: 1rem;
  background: #203f30;
  width: 440rem;
}
.kratko .green-button {
  margin-top: 100rem;
}

footer {
  padding-top: 80rem;
  border-top: 1rem solid #203f30;
  margin-top: 120rem;
  padding-bottom: 120rem;
}
footer .footer-row {
  display: flex;
  justify-content: space-between;
}
footer .footer-row.pol {
  margin-top: 80rem;
  justify-content: flex-start;
  gap: 75rem;
}
footer .footer-row.pol:last-child {
  margin-top: 40rem;
}
footer .footer-row.pol a {
  font-weight: 400;
  font-size: 16rem;
  color: #9c9c9c;
}
footer .footer-item {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
footer .footer-item a {
  gap: 20rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18rem;
  color: #203f30;
}
footer .footer-item a svg {
  max-width: 20rem;
  width: 100%;
}

.about-hero {
  margin-top: 60rem;
}
.about-hero .about-heading {
  font-weight: 400;
  font-size: 123rem;
  text-transform: uppercase;
  color: #203f30;
}
.about-hero .about-heading span {
  font-family: "Mea Culpa", sans-serif;
}
.about-hero .about-hero-wrapper {
  margin-top: 60rem;
  display: flex;
  gap: 117rem;
  justify-content: space-between;
}
.about-hero .about-hero-wrapper img {
  width: 600rem;
}
.about-hero .about-hero-coll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 525rem;
  flex-shrink: 0;
  max-width: 440rem;
}
.about-hero .about-hero-item {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
.about-hero .about-hero-item__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #203f30;
}
.about-hero .about-heor-item__text {
  font-weight: 400;
  font-size: 32rem;
  color: #203f30;
}

.znakomstvo {
  margin-top: 120rem;
}
.znakomstvo h2 {
  font-weight: 400;
  font-size: 64rem;
  text-transform: uppercase;
  color: #fff;
}
.znakomstvo .container {
  padding: 80rem;
  border-radius: 50rem;
  background: #203f30;
  width: 1795rem;
}
.znakomstvo .wrapper {
  display: flex;
  gap: 300rem;
  margin-top: 80rem;
}
.znakomstvo .wrapper svg {
  width: 37rem;
  top: 0;
  position: absolute;
  left: -40rem;
  transform: translateX(-100%);
}
.znakomstvo .wrapper img {
  border-radius: 50rem;
  width: 359rem;
  height: 539rem;
}
.znakomstvo .texts {
  position: relative;
  max-width: 720rem;
}
.znakomstvo .texts p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  color: #fff;
}
.znakomstvo .texts p:first-child {
  margin-bottom: 40rem;
}
.znakomstvo .texts p:first-child::after {
  content: "";
  display: block;
  width: 560rem;
  height: 1rem;
  background: #fff;
  margin-top: 40rem;
}

.text-img {
  margin-top: 120rem;
}
.text-img .container {
  display: flex;
  align-items: center;
  width: 1795rem;
  justify-content: space-between;
  gap: 75rem;
  padding-right: 80rem;
}
.text-img .text {
  background: #203f30;
  border-radius: 50rem;
  padding: 80rem;
  display: flex;
  flex-direction: column;
  gap: 80rem;
}
.text-img .text p, .text-img .text li {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  color: #fff;
}
.text-img .text b {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  color: #fff;
}
.text-img img {
  border-radius: 50%;
  width: 600rem;
  flex-shrink: 0;
}

.text-img-text {
  margin-top: 120rem;
}
.text-img-text .container {
  display: flex;
  justify-content: space-between;
  gap: 120rem;
}
.text-img-text .texts h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 64rem;
  text-transform: uppercase;
  color: #203f30;
}
.text-img-text .texts p, .text-img-text .texts li {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #203f30;
}
.text-img-text .texts p {
  margin-top: 80rem;
}
.text-img-text .texts ul {
  margin-top: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.text-img-text .img {
  border-radius: 50rem;
  background: #203f30;
  overflow: hidden;
  max-width: 690rem;
  height: -moz-fit-content;
  height: fit-content;
}
.text-img-text .img img {
  width: 100%;
}
.text-img-text .img p {
  padding: 60rem 70rem;
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  color: #fff;
}

.zapis {
  margin-top: 120rem;
}
.zapis h2 {
  font-weight: 400;
  font-size: 64rem;
  text-transform: uppercase;
  color: #fff;
}
.zapis .container {
  border-radius: 50rem;
  background: #203f30;
  padding: 80rem;
}
.zapis .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 285rem;
  margin-top: 80rem;
}
.zapis img {
  max-width: 645rem;
  width: 100%;
}
.zapis a {
  margin-top: 80rem;
  display: flex;
  align-items: center;
  gap: 36rem;
}
.zapis a span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #203f30;
  border-radius: 30rem;
  background: #fff;
  padding: 20rem 70rem;
}
.zapis a svg {
  width: 40rem;
}
.zapis p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40rem;
  color: #fff;
}

.nagradi {
  margin-top: 60rem;
}
.nagradi .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nagradi .heading h2 {
  font-weight: 400;
  font-size: 64rem;
  text-transform: uppercase;
  color: #203f30;
}
.nagradi .arrows {
  display: flex;
  align-items: center;
  gap: 55rem;
}
.nagradi .nagrady-arrow {
  width: 40rem;
  cursor: pointer;
}
.nagradi .nagrady-arrow.next {
  transform: rotate(180deg);
}
.nagradi .nagradi-slider {
  margin-top: 80rem;
}
.nagradi .swiper-slide img {
  width: 100%;
}

.gifts {
  margin-top: 120rem;
}
.gifts .container {
  position: relative;
  background: #203f30;
  border-radius: 50rem;
  padding: 80rem;
}
.gifts h2 {
  font-weight: 400;
  font-size: 48rem;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  text-align: center;
}
.gifts .wrapper {
  margin-top: 70rem;
  display: flex;
  gap: 350rem;
}
.gifts .left {
  display: flex;
  flex-direction: column;
  gap: 80rem;
  max-width: 520rem;
  width: 100%;
}
.gifts .item h3 {
  font-weight: 400;
  font-size: 32rem;
  text-transform: uppercase;
  color: #fff;
}
.gifts .item p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  color: #fff;
  margin-top: 40rem;
}
.gifts .right h3 {
  font-weight: 400;
  font-size: 32rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40rem;
}
.gifts .right p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  color: #fff;
  margin-bottom: 40rem;
}
.gifts .right .text-block {
  font-weight: 400;
  font-size: 20rem;
  text-transform: uppercase;
  color: #fff;
  padding: 40rem;
  border: 2rem solid #fff;
  border-radius: 50rem;
  max-width: 456rem;
}
.gifts .lenta {
  position: absolute;
  width: 309rem;
  top: -80rem;
  left: -72rem;
}
.gifts .lenta1 {
  position: absolute;
  width: 305rem;
  right: -80rem;
  bottom: -50rem;
}
.gifts .gift {
  position: absolute;
  top: -80rem;
  right: -65rem;
}
.gifts .gift1 {
  position: absolute;
  left: -60rem;
  bottom: -78rem;
}
.gifts .star, .gifts .star1, .gifts .star2, .gifts .star3, .gifts .star4, .gifts .star5, .gifts .star6 {
  position: absolute;
  width: 54rem;
  z-index: 2;
}
.gifts .star {
  top: 110rem;
  left: 190rem;
}
.gifts .star1 {
  top: 27rem;
  right: 222rem;
}
.gifts .star2 {
  top: 227rem;
  right: 33rem;
}
.gifts .star3 {
  bottom: 130rem;
  left: 135rem;
}
.gifts .star4 {
  bottom: 54rem;
  left: 258rem;
}
.gifts .star5 {
  bottom: 236rem;
  right: 649rem;
}
.gifts .star6 {
  bottom: 147rem;
  right: 128rem;
}

.main-curses {
  margin-top: 120rem;
}
.main-curses h2 {
  font-weight: 400;
  font-size: 48rem;
  text-transform: uppercase;
  color: #203f30;
  margin-bottom: 120rem;
}
.main-curses .wrapper {
  display: flex;
  flex-direction: column;
  gap: 120rem;
}
.main-curses .item.active .bottom {
  margin-top: 120rem;
  max-height: 2000rem;
}
.main-curses .item .top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60rem;
  height: 845rem;
}
.main-curses .item .top h3 {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 96rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 150rem;
}
.main-curses .item .top .item__wrapper {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: flex-end;
  justify-content: space-between;
}
.main-curses .item .top .item__wrapper button {
  margin-right: 160rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #fff;
  padding: 18rem 32rem;
  border: 1rem solid #fff;
  border-radius: 30rem;
  background: none;
  cursor: pointer;
}
.main-curses .item .top .glass-text {
  -webkit-backdrop-filter: blur(48rem);
          backdrop-filter: blur(48rem);
  box-shadow: inset 0 0 68rem 0 rgba(255, 255, 255, 0.05), inset 0 4rem 4rem 0 rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24rem;
  padding: 60rem;
}
.main-curses .item .top .glass-text .heading {
  font-weight: 400;
  font-size: 24rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40rem;
}
.main-curses .item .top .glass-text .text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #fff;
}
.main-curses .item .top .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-curses .bottom {
  margin-top: 0;
  max-height: 0;
  transition: all 1s ease;
  overflow: hidden;
}
.main-curses .bottom .infos {
  display: flex;
  gap: 95rem;
}
.main-curses .bottom .about {
  background: #203f30;
  border-radius: 50rem;
  padding: 80rem;
  max-width: 833rem;
}
.main-curses .bottom .about h3 {
  font-weight: 400;
  font-size: 32rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 60rem;
}
.main-curses .bottom .about p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  color: #fff;
  margin-bottom: 60rem;
}
.main-curses .bottom .galss-block {
  padding: 40rem 60rem;
  -webkit-backdrop-filter: blur(48rem);
          backdrop-filter: blur(48rem);
  box-shadow: inset 0 0 68rem 0 rgba(255, 255, 255, 0.05), inset 0 4rem 4rem 0 rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24rem;
}
.main-curses .bottom .galss-block h3 {
  font-weight: 400;
  font-size: 32rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40rem;
}
.main-curses .bottom .galss-block p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  color: #fff;
}
.main-curses .bottom .result {
  border-radius: 50rem;
  background: #203f30;
  padding: 80rem;
}
.main-curses .bottom .result h3 {
  font-weight: 400;
  font-size: 32rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 60rem;
}
.main-curses .bottom .result p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 32rem;
  color: #fff;
}
.main-curses .bottom .rews {
  margin-top: 60rem;
}
.main-curses .bottom .rews h3 {
  font-weight: 400;
  font-size: 32rem;
  text-transform: uppercase;
  color: #203f30;
  margin-bottom: 60rem;
}
.main-curses .bottom .rews .wrapper {
  display: flex;
  gap: 40rem;
  flex-direction: row;
}
.main-curses .bottom .rews__item {
  border-radius: 50rem;
  background: #203f30;
  padding: 60rem;
}
.main-curses .bottom .rews__item .top {
  display: flex;
  align-items: center;
  gap: 12rem;
  height: auto;
  flex-direction: row;
  padding: 0;
  justify-content: flex-start;
}
.main-curses .bottom .rews__item .top p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #fff;
}
.main-curses .bottom .rews__item .stars {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.main-curses .bottom .rews__item .stars svg {
  width: 20rem;
}
.main-curses .bottom .btm {
  margin-top: 24rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #fff;
}
.main-curses .bottom .back-container {
  display: flex;
  justify-content: flex-end;
}
.main-curses .bottom .back {
  margin-top: 60rem;
  border: 1rem solid #203f30;
  border-radius: 30rem;
  padding: 18rem 30rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  color: #203f30;
  background: none;
  display: flex;
  align-items: center;
  gap: 17rem;
  cursor: pointer;
}
.main-curses .bottom .back svg {
  width: 12rem;
}

.more-info {
  margin-top: 120rem;
}
.more-info .container {
  position: relative;
  padding: 80rem;
  border-radius: 50rem;
}
.more-info h3 {
  font-weight: 400;
  font-size: 64rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 193rem;
  position: relative;
  z-index: 2;
}
.more-info .glass-block {
  padding: 40rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #fff;
  -webkit-backdrop-filter: blur(48rem);
          backdrop-filter: blur(48rem);
  box-shadow: inset 0 0 68rem 0 rgba(255, 255, 255, 0.05), inset 0 4rem 4rem 0 rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24rem;
  position: relative;
  z-index: 2;
  max-width: 742rem;
}
.more-info .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.for-all {
  margin-top: 120rem;
}
.for-all .container {
  border-radius: 50rem;
  background: #203f30;
  padding: 80rem;
}
.for-all h2 {
  font-weight: 400;
  font-size: 48rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 80rem;
}
.for-all .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40rem;
  justify-content: center;
}
.for-all .item {
  -webkit-backdrop-filter: blur(48rem);
          backdrop-filter: blur(48rem);
  box-shadow: inset 0 0 68rem 0 rgba(255, 255, 255, 0.05), inset 0 4rem 4rem 0 rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24rem;
  padding: 40rem;
}
.for-all .item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #fff;
}

.socral {
  margin-top: 120rem;
}
.socral .container {
  border-radius: 50rem;
  background: #203f30;
  position: relative;
  padding: 80rem;
}
.socral .container img {
  position: absolute;
  width: 526rem;
  top: -106rem;
  right: -90rem;
}
.socral h2 {
  font-weight: 400;
  font-size: 64rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 80rem;
}
.socral .wrapper {
  display: flex;
  justify-content: space-between;
}
.socral h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #fff;
  max-width: 645rem;
}
.socral h3 span {
  font-family: "Unbounded", sans-serif;
}
.socral .glass-blovk {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36rem;
  color: #fff;
  padding: 40rem;
  -webkit-backdrop-filter: blur(48rem);
          backdrop-filter: blur(48rem);
  box-shadow: inset 0 0 68rem 0 rgba(255, 255, 255, 0.05), inset 0 4rem 4rem 0 rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 24rem;
  max-width: 540rem;
}/*# sourceMappingURL=style.css.map */